<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :username, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :username, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :book_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :book_name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :username, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :username, :class => 'datetime_select' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :book_count, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :book_count, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', users_path, :class => 'btn' %>
  </div>

</fieldset>
<% end %>
